@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

* {
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap');

h1 {
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navLogo {
  width: 2.3em; 
  height: 2.3em;
}

#navTitle {
  color: white;
  font-weight: 1000;
}

#navIcons {
  float: right;
  padding-bottom: .75em;
}

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.25em;
  margin-bottom: .75em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
