@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');

* {
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap');

h1 {
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 3em;
  margin-left: 3em;
}

svg {
  width: 20em; 
  height: 20em;
}

#navTitle {
  color: white;
  font-weight: 1000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
